@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:ital,wght@1,100&family=Roboto&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #FD4251;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

form {
  width: 18%;
  background-color: #fff;
  padding: 2rem;
}

form h1 {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0.25em;
}

.formImg {
  background-image: url('./components/images/milk-splash.jpg');
  background-position: center;
  background-size: cover;
  height: inherit;
  width: 17%;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.form-sel {
  margin-bottom: 0.50rem;
}

@media screen and (max-width: 1215px) {
  .formImg {
    display: none;
  }

  form {
    width: inherit;
    padding: 20px;
    margin: 20px;
    border: 1px transparent black;
    border-radius: 10px;
  }

}